.tripsImg {
  border-radius: 0.5rem;
  height: 70vh;
  overflow: hidden;
  position: relative;
  
}
.tripsImg img:hover{
  transform: scale(1.1) rotate(-2deg);
  transition: transform ease-in-out .5s;
    transform-origin: center;

}

.types_of_trips {
  margin-right: 2rem;
  margin-left: 2rem;
}
.tripsSect {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.trips {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.tripsDesc {
  width: 40%;
  text-align: center;
}
.tripsImg {
  width: 40%;
}
.tripsDesc h1 {
  padding: 0.5rem;
}
.tripsDesc p {
  line-height: 1.7;
  text-align: center;
}

.view_more {
  margin-top: 4rem;
  cursor: pointer;
}
.view_more:hover {
  text-decoration: underline;
  transition: 0.5s all ease;
  color: white;
}

.tripsDestinations {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.viewPakages {
  margin-top: 2rem;
  border: 2px solid black;
}
.tripsPackages {
  width: 23rem;
  height: 23rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  position: relative;
  margin-bottom: 2rem;
}
.tripsPackages .packImg {
  height: 100%;
  display:block;
  object-fit: contain;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;

}

.packDetails h3 {
  padding: 0.5rem 0;
}

.packDetails p {
  padding: 0;
  line-height: 1.5;
}


.packDetails button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color:#5ea3de;
  color: white;
}
.packDetails {
  position: absolute;
  bottom: 0.5rem;
  background: white;
  width: 85%;
  height: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.packDetails:hover{
  height: auto;
  opacity: 1;
  transition: all ease-in-out 1s;
}
.packImg {
  border-radius: 0.5rem;
  overflow: hidden;
}
.packDetails .view_moreBtn {
  float: right;
}

/*########### Trips media querries ############*/
@media screen and (max-width: 600px) {
  .trips {
    display: flex;
    flex-direction: column;
  }
  .tripsImg {
    width: 90%;
  }

  .tripsDestinations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
  .trips {
    display: flex;
    flex-direction: column;
  }

  .tripsImg {
    width: 90%;
  }
}
