.herosSect {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.herosImg {
  height: 86vh;
  width: 100%;
}
.herosImg img {
  width: 100%;
  height: 100%;
}

.heros_description {
  display: flex;
  background-color: white;
  box-shadow: 10px 10px 50px 2px grey;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 80%;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 70%;
}

.heros_description .desc_top {
  width: 100%;
}

.heros_description .desc_top h2 {
  color: #008ec4;
  padding: 0.3rem 0;
  font-size: 3rem;
}
.heros_description .desc_top p {
  padding: 0.3rem 0;
}
.heros_description .desc_bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 3rem;
}

.desc_bottom .locations {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.desc_bottom .locations i {
  font-size: 2rem;
}
.desc_bottom .locations .details {
  text-align: start;
  display: flex;
  flex-direction: column;
}
.desc_bottom .locations .details h4,
p {
  text-align: start;
  padding: 0.3rem;
}
.search {
  border-radius: 50%;
  padding: 1rem;
  background-color: #008ec4;
  cursor: pointer;
}
.search i {
  color: white;
}

/*############## About sections ################*/
.about_sect {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about_sect .aboutImg {
  height: 80vh;
  width: 100%;
  display: block;
  object-fit: contain;
  aspect-ratio: 16/7;
}
.about_sect .aboutImg img {
  width: 100%;
  height: 100%;
}

.about_sect .about_desc_1 {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  position: absolute;
  top: 60%;
}

.caro{
  background-color: white;
}
.services {
  background-color: white;
  padding: 0.5rem;
  width: 17rem;
  border-radius: 1rem;
  align-items: start;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 2px black;
}
.services i {
  font-size: 2.5rem;
  padding: 0.5rem;
}

.services h3 {
  padding: 0.5rem;
  font-weight: 700;
}

.services p {
  text-align: left;
  padding: 0.5rem;
  line-height: 1.5rem;
  color: #858585;
}

.services p i {
  font-size: 1.1rem;
  text-align: center;
}
.services p {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  width: auto;
}

.services .learn_more {
  color: black;
  margin-top: 2rem;
  cursor: pointer;
}

.services:hover {
  transform: translateY(-2rem);
  transition: all ease-in-out 0.5s;
}

/*################## DESTINATIONS SECTIONS #####################*/
.popular_sect {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.destination {
  width: 22rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  overflow: hidden;
}

 .destination .destImg{
  height: 15rem;
  overflow: hidden;
  /* border: 2px solid black; */
}
.popularDest .destination .destImg,
img {
  width: 100%;
  height: 100%; 
}

.destinations {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  gap: 2rem;
}

.destDesc {
  background-color: white;
  padding: 0.5rem;
  height: 100%;
}

.destDesc h3 {
  padding: 0.5rem 0;
}
.destDesc .destDetails {
  padding: 0.5rem 0;
}

.destDesc .bottom {
  margin-top: 2rem;
  text-align: center;
}
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.destDesc .learn_more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.prices {
  border-radius: 0.2rem;
  background-color: blue;
  color: whitesmoke;
  cursor: pointer;
}

/*################   TEstimonials Section ##################3*/

.testmonialsSect {
  margin-top: 2rem;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;

}




.testimonials {
  position: relative;
  width: 18rem;
  margin-top: 3.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;

}

.carousel{
  z-index: 1;
  margin-top: 2rem;
  width: 100%;
}

.testimonials .img {
  top: -3.5rem;
  position: absolute;
  width: 7rem;
  z-index: 100;
  height: 7rem;
  left: 2rem;
}
.testimonials .testImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}
.cust_details {
  margin-top: 3rem;
}
.cust_details {
  display: flex;
  justify-content: space-between;
}

.cust_details div p {
  padding: 0.5rem 0;
}
.testimonials .custDesc {
  padding: 0;
  margin-top: 1rem;
}
.checked {
  color: orange;
}

.custReviews {
  position: relative;
  height: 90vh;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.layon {
  position: absolute;
  width: 90%;
}
.checked {
  color: orange;
}


/*#######################   SUBSCRIBE SECTION ############*/
.subsribe_sect {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.subscribeSect {
  background-color: white;
  display: flex;
  width: 80%;
  flex-direction: row;
  border-radius: 1rem;
  overflow: hidden;
  transform: translateY(8rem);
}
.subsribeImg {
  width: 50%;
}

.subsribeInputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subsribeInputs h2 {
  font-size: 2rem;
  text-align: center;
}
.subscribeSect .inputEmail {
  margin-top: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  padding: 0.5rem;
  background-color: #5ea3de;
}
.subscribeSect .inputEmail input {
  height: 2.5rem;
  background-color: #5ea3de;
  padding-inline-start: 1rem;
  width: 20rem;
  color: white;
  border: none;
  outline: none;
}

.subscribeSect .inputEmail button {
  cursor: pointer;
  padding: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  border-radius: 2rem;
  background-color: white;
  border: none;
}

/* ################   Media Queries ############3*/

@media screen and (max-width: 600px) {
  .heros_description {
    width: 80%;
  }
  /* .desc_bottom{
    width: 100%;
    
  } */
}

/*############   Meadia Queries. #############3*/
@media screen and (max-width: 600px) {
  .subscribeSect {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subsribeImg {
    width: 100%;
  }
  .subsribeInputs .inputEmail {
    display: flex;
    width: 70%rem;
    margin-bottom: 1rem;
  }
  .subsribeInputs .inputEmail input {
    width: 10rem;
  }
  .testmonialsSect{
    display: flex;
    flex-direction: row;
    margin: 0 2rem;

    align-items: center;
    justify-content: center;
  }
    .testimonials {
      width: 17rem;
    }
        .about_sect{
          margin-top: 8rem;
        }

        .aboutImg img{
          display: none;
        }
    .about_desc_1{
      top: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: -15rem;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .about_sect{
      display: flex;
      align-items: start;
    }
  
      .popular_sect{
          margin-top: 29rem;
        }
    .about_desc_1{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    
}

@media screen and (min-width: 601px) and (max-width: 910px) {
  .subsribeInputs .inputEmail {
    display: flex;
    width: 70%rem;
    margin-bottom: 1rem;
  }

  .subscribeSect {
    width: 95%;
  }
  .subsribeInputs .inputEmail input {
    width: 9rem;
  }
    .testmonialsSect {
      display: flex;
      flex-direction: column ;
      align-items: center;
      justify-content: center;
    }

    .testimonials{
      width: 17rem;
    }

         .about_sect {
           margin-top: 8rem;
         }
    
         .aboutImg img {
           display: none;
         }
    
         .about_desc_1 {
           top: 0;
           display: flex;
           flex-wrap: wrap;
           flex-direction: column;
           margin-top: -15rem;
           align-items: center;
           justify-content: center;
           height: 100%;
         }
    
         .about_sect {
           display: flex;
           align-items: start;
         }
    
         .popular_sect {
           margin-top: 29rem;
         }
  
}

@media screen and (min-width: 911px) {
  .subsribeInputs .inputEmail {
    display: flex;
    width: 70%rem;
    margin-bottom: 1rem;
  }

  .subscribeSect {
    width: 80%;
  }

  .subsribeInputs .inputEmail input {
    width: 12rem;
  }
}
